extends layout

block content
    h1= title
    p Welcome to #{title}

    #accounts
        h1 Accounts

    #ethereum-lottery
        h1 Ethereum Lottery
    
    #current-lottery
        h1 Current Lottery

    
